# متغیرهای محیطی و اطلاعات حساس
.env

# دیتابیس
planner.db
*.db
*.sqlite3

# پایتون
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.Python
build/
dist/

# محیط مجازی
venv/
env/
ENV/
.venv/

# IDE / ادیتور
.vscode/
.idea/
*.swp

# سیستم‌عامل
.DS_Store
Thumbs.db

# لاگ‌ها
*.log
